$primary_icon_color: #938f8f;
$primary_color: #e9601f;

.employee-item-tab {
    .MuiTypography-root {
        height: calc(100vh - 242px);
        overflow: auto;
        padding: 10px 10px 0 30px;
        box-sizing: border-box !important;
    }
    .MuiBadge-badge {
        top: 3px;
        right: -5px;
    }
    .react-select-container {
        width: 300px;
        .react-select__control {
            &:hover {
                border-color: $primary_color;
                box-shadow: 0 0 0 1px $primary_color;
            }
        }
        .react-select__control--is-focused {
            border-color: $primary_color;
            box-shadow: 0 0 0 1px $primary_color;
        }
    }
}
.MuiPaper-elevation4 {
    box-shadow: 0 0px 20px -10px rgba(150, 170, 180, 0.5) !important;
    margin-bottom: 10px;
}
.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}

@media (max-width: 950px) {
    .employee-item-tab {
        .MuiTypography-root {
            height: calc(100vh - 253px);
            padding: 10px;
            padding-top: 0;
        }
    }
}
