.profile-box {
    .MuiAvatar-root {
        width: 33px;
        height: 33px;
        font-size: 15px;
        margin: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 950px) {
    .profile-box {
        .MuiAvatar-root {
            width: 26px;
            height: 26px;
        }
    }
}
