$primary_color: #e9601f;

.scaling-system-modal {
    .MuiBox-root {
        width: auto !important;
        height: auto !important;
        padding: 30px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #e9601f;
        cursor: pointer;
    }
    .buttons-system {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .system-modal-one-row {
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
        .left {
            display: flex;
            align-items: center;
            width: 180px;
            margin-right: 10px;
            span {
                font-weight: bold;
            }
        }
        .right {
            input {
                border: 1px solid $primary_color;
                width: 150px;
                padding: 5px;
                border-radius: 3px;
                font-size: 1rem;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #cfcaca;
                }
            }

            .MuiInputBase-input {
                padding: 3px;
                padding-right: 24px;
                border-radius: 3px;
            }
        }
    }
    .save-button-system {
        outline: 1px solid #e9601f;
        background-color: $primary_color;
        color: white;
        &:hover {
            background-color: $primary_color !important;
        }
    }
    .system-icon {
        color: #757575;
        font-size: 18px;
        margin-right: 5px;
    }
}

@media (max-width: 950px) {
    .scaling-system-modal {
        .MuiBox-root {
            padding: 20px 8px;
        }
        .system-modal-one-row {
            margin-top: 10px !important;
            font-size: 13px;
            .left {
                width: 150px;
            }
            .right {
                input {
                    width: 130px;
                }
            }
        }

        .MuiButton-root {
            font-size: 13px !important;
        }
    }
}
