$primary_color: #e9601f;

.delivery-timeline-modal {
    .MuiBox-root {
        width: auto !important;
        height: auto !important;
        padding: 30px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #e9601f;
        cursor: pointer;
    }
    .buttons-delivery {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .delivery-timeline-modal-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .delivery-timeline-one-row {
        margin-top: 35px;
        display: flex;
        justify-content: space-around;
        .left {
            display: flex;
            align-items: center;
            width: 250px;
            margin-right: 10px;
            span {
                font-weight: bold;
            }
        }
        .right {
            input {
                border: 1px solid $primary_color;
                width: 100px;
                padding: 5px;
                border-radius: 3px;
                font-size: 1rem;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #cfcaca;
                }
            }
            .MuiSelect-icon {
                color: $primary_color;
            }
            .MuiSelect-select {
                width: 120px !important;
                border: 1px solid $primary_color;
                &:focus {
                    background-color: white !important;
                    border-color: $primary_color;
                }
                &:hover {
                    background-color: white !important;
                    border-color: $primary_color;
                }
            }

            .MuiInputBase-input {
                padding: 3px;
                padding-right: 24px;
                border-radius: 3px;
            }
        }
    }
    .save-button-delivery {
        outline: 1px solid #e9601f !important;
        background-color: #e9601f !important;
        color: white !important;
    }
    .delivery-icon {
        color: #757575 !important;
        font-size: 18px !important;
        margin-right: 5px;
    }
}

@media (max-width: 950px) {
    .delivery-timeline-modal {
        .MuiBox-root {
            padding: 20px 10px;
        }

        .delivery-timeline-one-row {
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            .left {
                display: flex;
                align-items: center;
                width: 180px;
                margin-right: 10px;
                font-size: 13px;
                span {
                    font-weight: bold;
                }
            }
        }
        .save-button-delivery {
            outline: 1px solid #e9601f !important;
            background-color: #e9601f !important;
            color: white !important;
        }
        .delivery-icon {
            color: #757575 !important;
            font-size: 18px !important;
            margin-right: 5px;
        }
    }
}
