$primary_color: #e9601f;

.division-item {
    overflow: auto;
    width: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #fff;
    transition: 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    .MuiBadge-badge {
        top: 3px;
        right: -5px;
    }
    .division-body {
        height: calc(100vh - 182px);
        width: 95%;
        margin: auto;
        overflow: auto;

        .MuiInput-underline:before {
            border: none;
        }
        .MuiInput-underline:hover:not(.Mui-disabled):before {
            border: none;
        }
        .MuiInput-underline:after {
            border: none;
        }
        .MuiSelect-icon {
            color: $primary_color;
        }
        .MuiSelect-select {
            border: 1px solid $primary_color;
            &:focus {
                background-color: white !important;
            }
        }

        .MuiOutlinedInput-input {
            border: 1px solid $primary_color;
            min-width: 60px;
            padding: 8px;
            svg {
                color: $primary_color;
            }
        }
        .MuiOutlinedInput-notchedOutline {
            border-color: $primary_color;
        }
        .MuiInputBase-input {
            padding: 5px;
            padding-right: 24px;
            border-radius: 3px;
        }
    }

    .MuiPaper-elevation4 {
        box-shadow: 0 0px 20px -10px rgba(150, 170, 180, 0.6) !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 950px) {
    .MuiTab-root {
        font-size: 13px;
    }

    .division-item {
        .division-body {
            height: calc(100vh - 270px);
        }
    }
}
@media (min-width: 950px) {
    .sidebar-open {
        width: calc(100% - 275px);
        margin-left: 275px;
    }
}
