.password-change {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .password {
    display: flex;
    align-items: center;
    flex-direction: row !important;
  
   
      .password-eye {
        margin-left: -35px;
      }
     
    
  }
}
.MuiBox-root {
  &:focus {
    outline: none;
  }
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .MuiFormControl-fullWidth {
    width: 400px;
  }
}
