$primary_color: #e9601f;

.manual-syncs {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    .refresh-buttons {
        height: 60px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }
    .manual-syncs-bottom {
        width: 70%;
        height: calc(100vh - 130px);
        overflow: auto;
        margin: auto;
    }
}

@media (max-width: 950px) {
    .manual-syncs {
        .refresh-buttons {
            border-bottom: 1px solid #d1cfcf;
        }

        .manual-syncs-bottom {
            width: 100%;
            height: calc(100vh - 180px);
        }
    }
}
