$primary_color: #e9601f;
$background_color: #f2f2f2;
$primary_icon_color: #938f8f;

body {
    background-color: white !important;
    font-family: optima;
}

.top {
    margin-top: 0px;
}
.top-home {
    margin-top: 80px;
}
.gAYOlo {
    border-top-color: $primary_color !important;
    border-left-color: $primary_color !important;
}
.cards-loading {
    .eBfbNv {
        position: relative !important;
    }
}
.MuiAppBar-root {
    padding: 0 10px;
}
